<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Eventos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Eventos.css') }}">
</head>

<body>
    <div class="contenedor">
        <h1>Eventos</h1>
        <div class="buscar">
            <input type="text" id="buscar-input" class="buscar-input" placeholder="Buscar evento...">
            <button class="btn-agregar" onclick="window.location.href='{{ url_for('crearEvento') }}'" id="crear-evento-btn"><i class="fi fi-rr-add"></i></button>
        </div>

        <ul id="lista-eventos" class="lista">
            {% if eventos %}
                {% for evento in eventos %}
                    <li class="item" data-evento-id="{{ evento[0] }}">
                        <span class="icono">♦</span>
                        <div class="info-evento">
                            <span class="nombre">{{ evento[1] }}</span>
                        </div>
                        <div class="acciones">
                            <button class="btn-ver-detalles" onclick="window.location.href='{{ url_for('ver_detalles', evento_id=evento[0]) }}'">Detalles</button>
                            <button class="btn-borrar" data-id="{{ evento[0] }}"><i class="fi fi-rr-trash"></i></button>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li>No hay eventos disponibles.</li>      
            {% endif %}
        </ul>
    </div>

    <script src="{{ url_for('static', filename='js/eventos.js') }}"></script>
</body>

</html>
