<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="contenedor">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo parroquia.png') }}" alt="Logo">
        </div>
        <h1>Bienvenido</h1>
        <form id="login-form" method="POST" action="{{ url_for('home') }}">
            <div class="fields">
                <div class="field">
                    <label for="nombre">NOMBRE</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
                </div>
                <div class="field">
                    <label for="password">CONTRASEÑA</label>
                    <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required autocomplete="off">
                </div>
            </div>
            <div class="actions">
                <button type="button" class="btn" onclick="window.location.href='{{ url_for('registro') }}'">Registrar</button>
                <button type="submit" class="btn">Iniciar sesión</button>
            </div>
        </form>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        // Seleccionar el contenedor de alertas
        const alertContainer = document.querySelector('.alert-container');

        // Verificar si existen mensajes flash
        if (alertContainer) {
            const alertMessages = alertContainer.querySelectorAll('.alert');

            // Mostrar la alerta
            alertMessages.forEach(alert => {
                alert.classList.add('show'); // Hacerla visible
                setTimeout(() => {
                    alert.classList.remove('show');
                    alert.classList.add('hide');
                }, 3000); // La alerta se ocultará después de 4 segundos
            });
        }
    });
    </script>

    </script>
</body>

</html>
